// Just an example of how to change Bootstrap theme colors, it's the default values
$danger_color: #601403;
$primary_color: #3A7C8D;
$theme-colors: ("danger": $danger_color, "primary": $primary_color);
